<%= render 'shared/errors', object: @post%>

<div class="well">
  <%= form_for @post do |p|%>

    <div class="control-group">
      <%= p.label :title %>
      <%= p.text_field :title %>
    </div>

    <div class="control-group">
      <%= p.label :url %>
      <%= p.text_field :url %>
    </div>

    <div class="control-group">
      <%= p.label :description %>
      <%= p.text_area :description %>
    </div>

    <%= p.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
  <%end%>
</div>
