<div class="row">
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description%></p>
    <p>
      <span class="quiet">posted by: <%= post.creator.username %></span><br/>
      <span class="quiet">created at: <%= time_format(post.created_at)%></span>
    </p>
    <% if logged_in?  && current_user.username == post.creator.username%>
      <%= link_to 'edit', edit_post_path(post)%>
    <%end%>
    <p><%= link_to "comments #{post.comments.count}", post_path(post)%></p>
  </div>
</div>
