<% all_posts = link_to 'Posts', posts_path %>

<% if logged_in?  && current_user.username == @post.creator.username%>
  <p class="pull-right">
    [<%= link_to 'edit', edit_post_path(@post)%>]
  </p>
<%end%>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: "#{all_posts} &raquo; #{@post.title}".html_safe%>

<p>
    <%= @post.description%>
</p>
<hr/>

<div>
  <h5>Create a comment</h5>
  <% if logged_in? %>
    <%= render 'shared/errors', object: @comment%>
    <%= form_for [@post, @comment] do |f|%>

    <div class="control-group">
      <%= f.label :body, 'Leave a comment'%>
      <%= f.text_area :body, rows: 3, class: 'span4'%>
    </div>
      <br/>

      <%= f.submit "Create Comment", class:"btn btn-primary"%>
    <%end%>
  <%else%>
    <div>
      <%= link_to "Sign in to leave a comment", login_path%>
    </div>
  <%end%>
</div>
<hr/>

<div class="well">
  <% @post.comments.each do |comment|%>
    <%= render 'comments', comment: comment%>
  <%end%>
</div>
